.giveSpace {
  letter-spacing: 0px;
}

@media (min-width: 200px) and (max-width: 640px) {
  .customMobflexCol {
    display: flex;
    flex-direction: column;
  }
}


/* custom-alignLeft */

/* 
@media (min-width: 1024) and (max-width: 1300) {
  .custom-alignLeft {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
} */