.giveSpace {
  letter-spacing: 0.4px;
}

.playStore {
  width: 188px;
}

@media (min-width: 200px) and (max-width: 640px) {
  .customMobflexCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  @media (min-width: 200px) and (max-width: 640px) {
    .customTextalign {
      text-align: center;
    }
  }

  @media (min-width: 700px) and (max-width: 1080px) {
    
    .customeBorder {
      /* border-top-left-radius: 20px; */
    }
  }
}
